<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let city of cities">
            <mat-card class="mat-elevation-z4">
                <mat-card-header class="centero">
                    <mat-card-title>{{city.name}} - {{city.airline.name}}</mat-card-title>
                </mat-card-header>
                <img
                  mat-card-image
                  src={{city.photo_url}}
                />
                <mat-card-content>
                  <p style="text-align: center; font-weight: bold; font-size: 18px;">{{city.price}} Ft</p>
                  <p style="text-align: center;">{{city.date}}</p>
                </mat-card-content>
                <mat-card-actions>
                  <div style="color: white; background-color: red; width:100%; background-position: center; border-radius: 25px; text-align: center;"><button mat-button (click)="addPurchase(city)">Vásárlás</button></div>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>

