<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu (selectedPage)="changePage($event)" [currentPage]="page" *ngIf="page" (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (onLogout)="logout($event)"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div style="padding: 10px; ">AliFly</div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li><a routerLink="/main">Főoldal</a></li>
          <li *ngIf="!(loggedInUser)"><a routerLink="/login">Bejelentkezés</a></li>
          <li><a routerLink="/ticket-card">Repülőjegyek</a></li>
          <li><a routerLink="/purchases">Vásárlásaim</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()">Kijelentkezés</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>